[submodule "awesome-llm-projects/openclaw/openclaw"]
	path = awesome-llm-projects/openclaw/openclaw
	url = https://github.com/openclaw/openclaw
[submodule "awesome-llm-projects/nanoclaw/nanoclaw"]
	path = awesome-llm-projects/nanoclaw/nanoclaw
	url = https://github.com/qwibitai/nanoclaw.git
[submodule "awesome-llm-projects/copaw/CoPaw"]
	path = awesome-llm-projects/copaw/CoPaw
	url = https://github.com/agentscope-ai/CoPaw.git
